{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<div class="page-title">
	<div class="float-left-text">
		<p>Registration</p>
	</div>
	<div class="float-right-text">
		<p>or <a href="/accounts/login/">login</a><p>
	</div>
</div>
<form method="post" action="." class="basic-form">
	{% csrf_token %}
	{% for field in form %}
		<div class="row">
        	<label for="{{ field.name }}">{{ field.label_tag }}</label>
        	<br>
        	{% if field.name == "password1" or field.name == "password2" %}
        		<input id="{{ field.name }}" class="basic-input" type="password" name="{{ field.name }}"/>
			{% else %}
				<input id="{{ field.name }}" class="basic-input" type="text" name="{{ field.name }}"/>
			{% endif %}
		</div>
	{% endfor %}
	<div class="registration-submit">
		<input id="submit" type="submit" name="submit" value="Join" />
	</div>

</form>
{% endblock %}